
.gnb-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
 
  background: rgb(6, 37, 61);
  color: aliceblue;
  font-weight: 700;
}

.gnb-header .logo {
  margin-left: 20px;
}
