
* {margin: 0; padding: 0;}

ol, ul {
  list-style: none;
}

.gnb-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
 
  background: rgb(6, 37, 61);
  color: aliceblue;
  font-weight: 700;
}

.gnb-header .logo {
  margin-left: 20px;
  font-size: 20px;
}

.post-list {
  margin-left: 20px;
}

.post-list .post-item {
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
 width: 400px;
 padding: 20px 20px;
 margin: 20px 0; 
 border-radius: 4px;
 box-shadow: 2px 2px 20px #cccccc;
}

.post-list .post-item h3 {
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.post-list .post-item span {
  color: #646464;
  font-size: 12px;
}


